// Variable Overwrites
@import 'overrides/variables';

// Bootstrap
@import 'bootstrap/bootstrap';

// Overwrites
@import 'overrides/card';
@import 'overrides/dropdown';
@import 'overrides/form';
@import 'overrides/navbar';
@import 'overrides/teaser';

// Mixins
/*
@import 'mixins/aspect-ratio';
@import 'mixins/buttons';
@import 'mixins/vendor-prefixes';
@import 'mixins/markdown';
@import 'mixins/autocomplete';
*/

// Components
/*
@import 'components/badges';
@import 'components/banner';
@import 'components/breadcrumbs';
@import 'components/button-groups';
@import 'components/buttons';
@import 'components/card';
*/
@import 'components/flag-icon';
/*
@import 'components/footer';
@import 'components/forms';
@import 'components/grid';
@import 'components/headings';
@import 'components/jumbotron';
@import 'components/layout';
@import 'components/logo';
@import 'components/links';
@import 'components/list-group';
@import 'components/md-editor';
@import 'components/navbar';
@import 'components/panels';
@import 'components/progress';
@import 'components/reveal';
@import 'components/sections';
@import 'components/tables';
@import 'components/thumbnails';
@import 'components/type';

// Module specific styles
@import 'modules/company';
@import 'modules/photo';
@import 'modules/frontpage';
@import 'modules/activity-calendar';
*/

//GEWIS icons
@import "gewisicons/gewisicons.scss";
