.form-label-group {
    position: relative;

    & > input,
    & > label {
        height: 3.125rem;
        padding: 0.75rem;
    }

    & > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        color: $gray-700;
        pointer-events: none;
        cursor: text;
        border: 0.0625rem solid transparent;
        border-radius: 0.25rem;
        transition: all 0.1s ease-in-out;
    }

    // The following rules cannot be chained together due to the
    // vendor-prefixes. In every browser, at least one rule is considered
    // invalid, making them all invalid.
    input::-webkit-input-placeholder {
        color: transparent;
    }

    input::-ms-input-placeholder {
        color: transparent;
    }

    input::-moz-placeholder {
        color: transparent;
    }

    input::placeholder {
        color: transparent;
    }

    input:not(:-ms-placeholder-shown) {
        padding-top: 1.25rem;
        padding-bottom: 0.25rem;
    }

    input:not(:placeholder-shown) {
        padding-top: 1.25rem;
        padding-bottom: 0.25rem;
    }

    input:not(:-ms-placeholder-shown) ~ label {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 12px;
        color: #777;
    }

    input:not(:placeholder-shown) ~ label {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 12px;
        color: #777;
    }
}

.form-check-input {
    -webkit-appearance: none;
}
